<div id="outer-video-box" class="video-container" style="margin-left: 120px;">
  <div id="title-box"><h3 style="margin-top: 20px; color:white;"><%= @video.title %></h3></div>
  <div id="watch-again"></div>
  <div id="new-video-box"></div>
  <div id="timer-box"></div>
  <div id="settings" style="height: 100px;">
    <div style="margin-top: 15px; margin-left: 22px;">
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack' id='play-pause' style="position: absolute; top: 13px; right: 22px;"> 
        <i class='icon-pause'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack' id='volume' style="position: absolute; top: 13px; right: 62px;">
        <div id='volume-slider'> </div>
        <i class='icon-volume-up'></i> 
      </div>
    </div>
    <br>
  </div>
</div>

<div id="social-content-area" class="content-area">
  <div class="big tab solo" id="all-content">
    <% if current_user %>
      <% if current_user.id == @fill_exercise.user.id %>
        Your fill-in-the-blanks quiz
      <% else %>
        <%= @user.username %>'s fill-in-the-blanks quiz
      <% end %>
    <% else %>
      <%= @user.username %>'s fill-in-the-blanks quiz
    <% end %>
  </div>
  <% if current_user %>
    <% if current_user.id == @fill_exercise.user.id %>
      <div class="small tab edit-exercise"><i class="icon icon-pencil"></i></div>
      <div class="small tab remove-exercise"><i class="icon icon-remove"></i></div>
    <% end %>
  <% end %>
  <div class="small-tab">
    <div id='quiz-status'>
      <div id="exercise-instructions">Type in the missing words.</div> 
      <div id="score"></div>
    </div>
  </div>
    <div id="community-notes">
      <div id="notes-container">
        <% if @fill_exercise.present? %>
          <div class="note-area fill-exercise-area">
           <div id="exercise">
            <% @lines.each do |l| %>
              <% line_html = l.lang1 %>
              <% these_missing_words = @missing_words.where(:line_id => l.id) %>
              <% if these_missing_words.present? %>
                <% these_missing_words.each do |missing_word| %>
                  <% line_html.gsub!(missing_word.word_text, "<input type='text' class='blank' data-missing-word='#{missing_word.word_text}' disabled>") %>
                <% end %>
              <% end %>
              <div class='transcript-line rounded' data-line-id=<%= l.id %> data-time=<%= l.time %>>
                <%= raw line_html %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="dialog-confirm" title="Confirmation" data-fill-exercise-id=<%= @fill_exercise.id %>>
  <p><span class="ui-icon ui-icon-alert"></span>Sure you want to delete this fill-in-the-blanks quiz?</span></p>
</div>

<div id="data" class="quiet"
 data-youtube-id=<%= @video.youtube_id %>
 data-title=<%= @video.title %>
 data-video-id=<%= @video.id %>
 data-fill-exercise-id=<%= @fill_exercise.id %>
 data-max-score=<%= @missing_words.length %>
</div>