<div id="outer-video-box" class="video-container" style="margin-left: 120px;">
  <div id="title-box"><h3 style="margin-top: 20px; color:white;"><%= @video.title %></h3></div>
  <div id="watch-again"></div>
  <div id="new-video-box"></div>
  <div id="timer-box"></div>
  <div id="settings" style="height: 100px;">
    <div style="margin-top: 15px; position: absolute; left: 22px;">
      <% if @star.present? %>
        <span class="big-friendly"><i class="icon icon-star star" id="star-full" data-star-id=<%= @star.id %>></i></span>
      <% else %>
        <span class="big-friendly"><i class="icon icon-star-empty star" id="star-empty"></i></span>
      <% end %>
      <span id='star-count' class="friendly-big"><%= @transcript.stars.length %></span>
      &nbsp; <span id='star-notice-area' class="notice"></span>
      <!-- <span class="blue-link open-embed-dialog">embed</span> -->
    </div>
    <div style="margin-top: 15px; margin-left: 22px;">
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack' id='play-pause' style="position: absolute; top: 13px; right: 22px;"> 
        <i class='icon-pause'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack' id='volume' style="position: absolute; top: 13px; right: 62px;">
        <div id='volume-slider'> </div>
        <i class='icon-volume-up'></i> 
      </div>
    </div>
    <br>
  </div>
</div>
<div id="social-content-area" class="content-area">
  <div class="big tab solo" id="all-content">
    <% if current_user %>
      <% if current_user.id == @transcript.user.id %>
        Your transcript
      <% else %>
        <%= @user.username %>'s transcript
      <% end %>
    <% else %>
      <%= @user.username %>'s transcript
    <% end %>
  </div>
  <div class="small tab back-to-video"><i class="back-to-video icon icon-group"></i></div>
  <% if current_user %>
    <% if current_user.id == @transcript.user.id %>
      <div class="small tab edit-lines"><i class="icon icon-pencil"></i></div>
    <% end %>
  <% end %>
  <div class="small-tab short"></div>
    <div id="community-notes">
      <div id="notes-container">
        <% if current_user %>
          <% if current_user.id == @transcript.user.id %>
            <span id='add-new-line' class='blue-link quiet' style="float: right; margin-right: 15px;">
              <i class='icon icon-plus-sign'></i> Add new line
            </span>
          <% end %>
        <% end %>
        <div id='transcript-lines'>
          <% @transcript.lines.order("time ASC").order("created_at ASC").each do |l| %>
            <div class="transcript-line rounded" data-line-id=<%= l.id %> data-time=<%= l.time %>>
              <% if current_user %>
                <% if current_user.id == @user.id %>
                  <span class='edit-line blue-link quiet tiny' title='Edit line' data-line-id=<%= l.id %>> <i class='icon icon-pencil'></i> </span>
                  <span class='comment-line blue-link quiet tiny' title='Add comment to line' data-line-id=<%= l.id %>> <i class='icon icon-comment'></i> </span>
                  <span class='remove-line blue-link quiet tiny' title='Delete line' data-line-id=<%= l.id %>> <i class='icon icon-remove'></i> </span>
                  <span class='add-time-to-line blue-link quiet tiny' title='Add time to line' data-line-id=<%= l.id %>> <i class='icon icon-time'></i> </span> 
                <% end %>
              <% end %>
                <span class="lang1" data-line-id=<%= l.id %>><%= l.lang1 %></span>
                <span class="line-comment-area" data-line-id=<%= l.id %>></span>
                <span class="line-timing tiny gray" data-line-id=<%= l.id %> data-time=<%= if l.time.present? then l.time end %>>
                  <% if l.time.present? %>
                    <%= l.formatted_time %>
                  <% end %>
                </span>
                <% if l.comments.present? %>
                  <% l.comments.each do |c| %>
                    <div class="line-comment rounded" data-line-id=<%= l.id %> data-comment-id=<%= c.id %>>
                      <span class="comment-text" data-comment-id=<%= c.id %>><%= c.comment_text %></span>
                      <% if current_user %>
                        <% if current_user.id == @user.id %>
                          <span class="edit-comment quiet" data-comment-id=<%= c.id %>><i class="icon icon-pencil blue-link"></i></span>
                          <span class="remove-comment quiet" data-comment-id=<%= c.id %>><i class="icon icon-remove blue-link"></i></span>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
               <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dialog-confirm" title="Confirmation">
  <p><span class="ui-icon ui-icon-alert"></span>Sure you want to delete this line?</span></p>
</div>

<div id="dialog-confirm-remove-comment" title="Confirmation">
  <p><span class="ui-icon ui-icon-alert"></span>Sure you want to delete this comment?</span></p>
</div>

<div id="dialog-embed" title="Embed your transcript">
  <p>
    Copy and paste into the HTML editing section of your blogging platform:
    <br>
    <br>
    <div style='background-color: white; padding: 5px;'>
      <%= "<div id='new-video-box'></div>" %>
      <br>
      <%= '<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>' %>
      <br>
      <%= "<script src='https://www.heyuvideo.com/transcripts/#{@transcript.id}/embed.js'></script>" %>
    </div>
   </p>
</div>

<div id="data" class="quiet"
 data-youtube-id='<%= @video.youtube_id %>'
 data-title='<%= @video.title %>'
 data-video-id=<%= @video.id %>
 data-transcript-id=<%= @transcript.id %>
 data-interpretation-id=<%= @transcript.interpretation.id %>
 <% if current_user %>
 data-user-id-match=<%= if current_user.id == @user.id then true else false end %>
 <% end %>
 >
</div>