<div class="centerbox center" style="width: 400px;">

  <br>
  
  <h2>Welcome to Heyu!</h2>

  <br>
  <br>

    <%= form_for(@user) do |f| %>

    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2 class="red"><i>Oops, let's try that again.</i></h2>
          <% @user.errors.full_messages.each do |message| %>
            <i class="red"><%= message %>.</i><br>
          <% end %>
        <br>
      </div>
    <% end %>

    <div >
      <div class="field"><%= f.label :first_name %><%= f.text_field :firstname %></div>
      <div class="field"><%= f.label :last_name %><%= f.text_field :lastname %></div>
      <div class="field"><%= f.label :username %><%= f.text_field :username %></div>
      <div class="field"><%= f.label :email %><%= f.text_field :email %></div>
      <div class="field"><%= f.label :password %><%= f.password_field :password %></div>
      <div class="field"><%= f.label :password_confirmation %><%= f.password_field :password_confirmation %></div>
    </div>

    <br>
    <br>

    <div class="actions"><input type="submit" class="btn btn-large btn-primary rounded" id="next"> </div></div>

  <% end %>

  <br>

  <p style="text-align: center;">By clicking "submit," you agree to Heyu's <a href="/terms">terms of use</a>.</p>
  
  </div>

</div>
