<div class="row">
  <div class="offset1" style="width: 1200px;">
    <div style="float: left;">
      <% if @firstname.present? && @lastname.present? %>
        <h2><%= "#{@firstname}" + " " + "#{@lastname}" %></h2>
      <% else %>
        <h2><%= @username %></h2>
        <% if current_user %>
          <% if current_user.id == @user.id %>
            <h3 id='input-firstname-area'>Add your first name: &nbsp; <input id='firstname' type='text'> &nbsp; 
              <div class="btn btn-primary rounded" id="update-firstname">Submit</div> </h3>
            <h3 id='input-lastname-area'>Add your last name: &nbsp; <input id='lastname' type='text'> &nbsp; 
              <div class="btn btn-primary rounded" id="update-lastname">Submit</div> </h3>
          <% end %>
        <% end %>
      <% end %>
      <% if @bio.present? %> 
        <span id='user-bio'><%= @bio %></span> <span id='edit-bio-area'>(<span id='edit-bio' class='blue-link'>edit</span>)</span>
      <% else %>
        <% if current_user %>
          <% if current_user.id == @user.id %>
            <div id='input-bio-area'>
              <h3>"About me..." Share a few sentences about yourself!</h3>
              <textarea style="height: 60px; width: 390px;" id="bio"></textarea> &nbsp; 
              <div class="btn btn-primary rounded" id="update-bio">Submit</div>
              <br><br>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if current_user %>
      <% if current_user.id == @user.id %>
        <div id="school-info-box">
          <% if @user_school.present? %>
            <h3><%= @user_school.name %></h3>
          <% end %>
          <% if @user_role.present? %>
            <h3><% if @user_role == true then 'teacher' else 'student' end %></h3>
          <% end %>
          <% if @user_school.blank? && @user_role.blank? %>
            <p>Teach or study at an educational institution?</p>
            <br>
              <div class="field">
                <label for="role">I'm a</label>
                <select name="role">
                  <option></option>
                  <option>teacher</option>
                  <option>student</option>
                </select>
              </div>
              <div class="field">
                <label for="school">at</label>
                <select name="school">
                  <option></option>
                  <%= @schools.each do |s| %>
                    <option><%= s.name %></option>
                  <% end %>
                </select>
              </div>
            <br>
            <div class="btn btn-primary rounded" id="update-school">Submit</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="draft-container">
      <% if @starred_videos.present? %>
      <% end %>
      <% if current_user && @user.id == current_user.id %>
        <h2>My learning materials:</strong></h2>
      <% else %>
        <h2><%= @user.username %>'s learning materials:</h2>
      <% end %>
      <br>
      <% if @interpretations.present? %>
        <% @interpretations.each do |i| %>
          <div class="user-content-box">
            <% counter = 0 %>
            <% vocabulary = Word.where(:interpretation_id => i.id) %>
            <% if vocabulary.present? then counter += 1 end %>
            <% challenges = Challenge.where(:interpretation_id => i.id) %>
            <% if challenges.present? then counter += 1 end %>
            <% discussion_questions = DiscussionQuestion.where(:interpretation_id => i.id) %>
            <% if discussion_questions.present? then counter += 1 end %>
            <% links = Link.where(:interpretation_id => i.id) %>
            <% if links.present? then counter += 1 end %>
            <% lines = Line.where(:interpretation_id => i.id) %>
            <% if lines.present? then counter += 1 end %>
            <% tweets = Tweet.where(:interpretation_id => i.id) %>
            <% if tweets.present? then counter += 1 end %>
            <% video = i.video %>
            <h3 style="text-align: center;"><%= video.title %></h3>
            <div style="float: left;">
              <%= render 'thumb_box', :this_interpretation => i %>
            </div>
            <div class="user-content-preview">
              <% if vocabulary.present? %>
                <% vocabulary.limit(3).each do |w| %>
                  <% d = Definition.where(:word_id => w.id).first %>
                  <li><%= link_to "#{w.text + " = " + d.text}", definition_url(d) %></li>
                <% end %>
              <% end %>
              <% if challenges.present? && counter < 1 %>
                <h3>Multiple-choice:</h3>
                <% challenges.limit(1).each do |challenge| %>
                  <p> <%= challenge.question_text %> </p>
                  <% options = Option.where(:challenge_id => challenge.id).all %>
                  <% options.each do |o| %>
                    <p style="margin-left: 20px;"> <input type='checkbox' id="option-<%= o.id %>" class="option-challenge-<%= challenge.id %>"> <%= o.answer_text %> </p>
                  <% end %>
                <% end %>
              <% end %>
              <% if discussion_questions.present? && counter < 2 %>
                <h3>Discussion questions:</h3>
                <% discussion_questions.limit(3).each do |question| %>
                  <p> <%= question.question_text %> </p>
                <% end %>
              <% end %>
              <% if lines.present? && counter < 3 %>
                <h3>Lyrics:</h3>
                <% lines.limit(3).each do |l| %>
                  <p><%= l.lang1 %></p>
                <% end %>
                <a href="/lyrics/<%= i.id %>">See all</a>
              <% end %>
              <% if links.present? && counter < 4 %>
                <h3>Links:</h3>
                <% links.limit(5).each do |link| %>
                  <%= image_tag "http://g.etfv.co/#{link.url}", :size => '25x25' %>
                  <strong><%= link_to "#{link.url.split('/')[2]}", link.url %></strong>
                  <p><%= link.excerpt %></p>
                <% end %>
              <% end %>
              <% if tweets.present?  && counter < 5 %>
                <h3>Tweets:</h3>
                <% tweets.limit(1).each do |tweet| %>
                  <blockquote class="twitter-tweet"><a href="https://twitter.com/<%= tweet.tweeter %>/statuses/<%= tweet.twitter_id %>"></a></blockquote>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <br>
</div>