<div class="row">
  <div class="offset1">
    <h2><%= "#{@firstname}" + " " + "#{@lastname}" %></h2>
    <p><%= @bio %></p>

    <div class="draft-container">
      <% if current_user && @user.id == current_user.id %>
        <h3><strong>My translations</strong></h3>
      <% else %>
        <h2><i><%= @user.name %>'s translations:</i></h2>
      <% end %>
      <% if @interpretation.present? %>
        <% @interpretation.all.each do |i| %>
          <% if i.video.present? %>
             <% v = i.video %>
              <div class="video-thumb-box user-thumb-box">
                <strong class="center"><%= link_to "#{v.title.slice(0,25)}", interpretation_url(i) %></strong>
                <br>
                <div class="image-box">
                  <img src="http://img.youtube.com/vi/<%= v.youtube_id %>/1.jpg">
                  <% if current_user && @user.id == current_user.id %>
                    <div class="tiny-text" > <%= link_to "Edit", edit_interpretation_url(i) %> // <%= link_to "Delete", interpretation_url(i), :method => :delete %> </div>
                  <% else %>
                      <div class="tiny-text" > <%= v.lang1 %> </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <h3>None yet!</h3>
        <% end %>
      </div>

  </div>
</div>