<div class="about-me-container">
  <h2><strong>About me</strong></h2>
  <span class="about-me"> <p><%= @user.bio %></p> </span>
  (<a class="edit-about-me">edit</a>)
  <br><br>
  <a class="ajax-twitter-thumbnail"> Get thumbnail photo from Twitter. </a>
  <br>
  <a class="ajax-facebook-thumbnail"> Get thumbnail photo from Facebook. </a>
</div>

<div class="draft-container">
<% if @published.present? %>
  <% if current_user && @user.id == current_user.id %>
      <h2><i>My published translations</i></h2>
    <% else %>
      <h2><i><%= @user.name %>'s translations:</i></h2>
  <% end %>
    <% @published.all.each do |i| %>
    <% if i.video.present? %>
       <% v = i.video %>
        <div class="video-thumb-box user-thumb-box">
          <strong class="center"><%= link_to "#{v.title.slice(0,25)}", interpretation_url(i) %></strong>
          <br>
          <div class="image-box">
            <img src="http://img.youtube.com/vi/<%= v.youtube_id %>/1.jpg">
            <% if current_user && @user.id == current_user.id %>
              <div class="tiny-text" > <%= link_to "Edit", edit_interpretation_url(i) %> // <%= link_to "Delete", interpretation_url(i), :method => :delete %> </div>
            <% else %>
                <div class="tiny-text" > <%= v.lang1 %> </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <br><br><h3>No completed translations... yet!</h3>
<% end %>

<% if current_user && @user.id == current_user.id %>
  <% if @drafts %>
    <div class="draft-container">
      <h2><i>My drafts</i></h2>
      <% @drafts.all.each do |d| %>
        <% if d.video.present? %>
         <% v = d.video %>
          <div class="video-thumb-box user-thumb-box">
            <strong class="center"><%= link_to "#{v.title.slice(0,25)}", interpretation_url(d) %></strong>
            <br>
            <div class="image-box">
              <img src="http://img.youtube.com/vi/<%= v.youtube_id %>/1.jpg">
              <% if current_user && @user.id == current_user.id %>
              <div class="tiny-text" > <%= link_to "Edit", edit_interpretation_url(d) %> // <%= link_to "Delete", interpretation_url(d), :method => :delete %> </div>
              <% else %>
                <div class="tiny-text" > <%= v.lang1 %> </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>  
  <% end %>
<% end %>