          <% translated_lines.each do |t| %>
            <% l = t.line %>
            <div class="line-container rounded" data-line-id=<%= l.id %> data-time=<%= l.time %>>
              <div class="line-left-subcontainer rounded lang1" data-line-id=<%= l.id %> data-time=<%= l.time %>>
                <%= l.lang1 %>
              </div>
              <span class="line-timing tiny gray" data-line-id=<%= l.id %> data-time=<%= if l.time.present? then l.time end %>>
                <% if l.time.present? %>
                  <%= l.formatted_time %>
                <% end %>
              </span>
              <div class="line-right-subcontainer rounded">
                <%= t.lang2 %>
              </div>
            </div>
          <% end %>