          <% translated_lines.each do |l| %>
            <div class="line-container rounded" data-line-id=<%= l.id %> data-time=<%= l.time %>>
              <div class="line-left-subcontainer rounded lang1" data-line-id=<%= l.id %> data-time=<%= l.time %>>
                <%= l.lang1 %>
              </div>
              <div class="line-right-subcontainer rounded">
              <% if l.lang2.present? %>
                <p><%= l.lang2 %></p>
              <% elsif Translation.where(:line_id => l.id, :user_id => l.interpretation.user.id).present? %>
                <p><%= Translation.where(:line_id => l.id, :user_id => l.interpretation.user.id).first.text %></p>
              <% end %>
              </div>
            </div>
          <% end %>