<br>
<h1 style='text-align: center;'>Learning a new language?</h1>
<br>
<h2 style='text-align: center;'>YouTube is your new best friend.</h2>
<br>
<h3 style='text-align: center;'><i>Watch videos.  Listen to music.  Create translations.  Welcome to Heyu.</i></h3>
<br>
<hr id="hr">
<br>
<div class="row-fluid">
  <div class="span11 offset1">
    <div class="row-fluid">
      <div class="span10 span">
        <ul class="nav nav-pills">
          <div class="btn btn-info rounded">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><h3 style="color: white;">Show videos in...</h3></a>
              <ul class="dropdown-menu">
                <%= render :partial => 'videos/language_dropdown_options' %>
              </ul>
            </li>
          </div>
        </ul>
      </div>
      <div class="span2 span">
        <div class="index-button" id="new-translation-button">
          <div class="button-text-wrapper">
            <p class="index-button-text">Translate a<br>new video<br></p>
            <%= image_tag "youtube-logo.png", style: 'float: right;' %>
            <div class="controls">
              <input type="text" class="short-text-box new-video-input" id="new-video-submit">
            </div>
            <p class="index-button-text tiny">Copy the URL from YouTube above.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span9">
        <% @latest_translated_videos.each do |v| %>
          <div class="video-thumb-box interp <%= v.lang1 %>">
            <strong class="center"><%= link_to "#{v.title.slice(0,32)}", video_url(v.id) %></strong>
            <br>
            <%= image_tag "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<hr id="hr">
<br>
<div class="row-fluid">
  <div class="span11 offset1">
    <div class="row-fluid">
      <div class="span10 span">
        <ul class="nav nav-pills">
          <div class="btn btn-info rounded">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><h3 style="color: white;">Show requests for...</h3></a>
              <ul class="dropdown-menu">
              <%= render :partial => 'videos/request_dropdown_options' %>
              </ul>
            </li>
          </div>
        </ul>
      </div>
      <div class="span2 span">
        <div class="index-button" id="request-translation-button">
          <div class="button-text-wrapper">
            <p class="index-button-text">Request a<br> translation</p>
            <%= image_tag "youtube-logo.png", style: 'float: right;' %>
            <div class="controls">
              <input type="text" class="short-text-box new-video-input" id="new-video-request">
            </div>
            <p class="index-button-text tiny">Copy the URL from YouTube above.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span10">
        <div id="requested-videos">
          <% @top_requested_videos.each do |v| %>
            <div class="video-thumb-box request <%= v.lang1 %>">
              <strong class="center"><%= link_to "#{v.title.slice(0,38)}", video_url(v.id) %></strong>
              <br>
              <img src="http://img.youtube.com/vi/<%= v.youtube_id %>/1.jpg">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>