<br>
<h1 style='text-align: center;'>Love languages?</h1>
<br>
<h2 style='text-align: center;'>YouTube is your new best friend.</h2>
<br>
<h3 style='text-align: center;'><i>Watch.  Listen.  Translate.  Welcome to Heyu.</i></h3>
<br>
<br>
<div class="index-button" id="new-translation-button">
  <div class="button-text-wrapper">
    <p class="index-button-text">Translate a video:</p>
    <p class="index-button-text tiny">(Search or copy the YouTube URL.)</p>
  </div>
  <div class="button-text-wrapper" style="float: left;"> 
    <div class="controls" style="position: absolute;">
      <input type="text" class="short-text-box new-video-input" id="ask-youtube"><%= image_tag "youtube-logo.png", :size => '71x71', :style => 'position: relative; left: -12px; top: -5px;' %>
      <input type="hidden" id="youtube_id">
      <div id="progress-bar"></div>
    </div>
  </div>
</div>
<div id="results-box">
</div>

<br>
<br>
<br>
<br>

<div class="row">

  <div class="span4 offset1">

    <h2> Show me videos in:<br>
      <% @langs_with_some_content.each do |l| %>
        <div class="btn btn-info language-selector" style="border-radius: 25px;" id="<%=l %>"> <%= l %> </div>
      <% end %>
      <div class="btn btn-info language-selector" style="border-radius: 25px;" id="All"> All </div>
      <div class="btn btn-info" style="border-radius: 25px; background-color: white; border: 1px solid black; color: black;"><i>More to come!</i></div>
    </h2>

  </div>

  <div class="row">

    <div class="span10">

      <hr id="hr">

        <%  @interps_with_some_content.each do |i| %>
          <% v = i.video %>
          <div class="video-thumb-box result-thumb-box interp <%= v.lang1 %>">
            <strong class="center"><%= link_to "#{v.title.slice(0,25)}", "/interpretations/#{i.id}/discuss" %></strong>
            <br>
            <div class="image-box">
              <%= image_tag "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" %>
              <p class="tiny-text">Translation by <%= link_to "#{i.user.name}", user_url(i.user) %></p>
            </div>
          </div>
        <% end %>

    </div>

  </div>

</div>

<br>
<br>
<br>