
<div id="vertical-bar">

  <div class="video-container-alt">
    <div class="title-box-alt"><p><%= @video.title %></p></div>
      <div id="new-video-box"></div>
      <div id="playback-row">
        <div id="row-slider-handle" class="slider-handle"></div>
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack left-side-button' id='play-pause'> 
        <i class='icon-pause'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack left-side-button' id='volume'>
        <div id='volume-slider'> </div>
        <i class='icon-volume-up'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack left-side-button'>
        <i class='icon-cog'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack right-side-button' id='fb'>
        <i class='icon-facebook'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack right-side-button' id='mail'>
        <i class='icon-envelope'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack right-side-button' id='twitter'> 
        <i class='icon-twitter'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack right-side-button' id='g-plus'>
        <i class='icon-google-plus'></i> 
      </div>
      <br/><br/><br/>
      <div style="position: relative; top: -10px; font-size: 10px;">
        <i>
          <% if @language.present? %>
            <span id='language'><%= @language.name %> |</span>
          <% else %>
            <span id='add-language' class='purple-link'>language  |</span>
          <% end %>
          <% if @country.present? %>
            <span id='country'><%= @country.name %> | </span>
          <% else %>
            <span id='add-country' class='purple-link'>country |</span>
          <% end %>
          <span id='add-difficulty' class='purple-link'>difficulty</span>
        </i>
      </div>
  </div>

  <div id="playback-column-box">
    <div id="playback-column-wrapper">
      <div id="playback-column" style="height: <%= @video.duration %>px;">
        <div id="column-slider-handle" class="slider-handle"></div>
      </div> 
    </div>
  </div>

  <div id="line-container" class="video-container-alt">
    <div id="new-line-area"></div>
    <% if @vocabulary.present? %>
        <% @vocabulary_contributors.each do |c| %>
          <% c_words = Word.where(:user_id => c.id, :video_id => @video.id).order("created_at DESC") %>
            <div class='headline'> 
              <%= link_to "#{c.username}", user_url(c), :class => "white-link" %>'s vocabulary definitions:
            </div>
          <% c_words.each do |w| %>
            <% d = Definition.where(:word_id => w.id).first %>
            <% if d.present? %>
              <div class='line-and-marker'>
                <div class='marker'>
                  <div class='marker-text'></div>
                </div>
                <div class='line-area'>
                  <%= link_to "#{w.text + " = " + d.text}", definition_url(d) %></li>
                </div>
              </div>
          <% end %>
        <% end %>
      <% end %>   
    <% end %>
    <% if @fill_exercises.present? %>
      <% @fill_exercises.each do |f| %>
        <div class='headline'> 
          <%= link_to "#{c.username}'s fill-in-the-blanks exercise", user_url(f.user), :class => "white-link" %>
        </div>
      <% end %>
    <% end %>
    <% if @transcripts.present? %>
      <% @transcripts.each do |t| %>
        <% if t.lines.present? %>
          <% c = t.user %>
            <div class='headline'> 
              <%= link_to "#{c.username}'s transcript", user_url(c), :class => "white-link" %>
            </div>
            <% t.lines.reject { |l| l.time.blank? }.sort { |a, b| a.time <=> b.time }.each do |l| %>
              <div class='line-and-marker'>
                <div class='marker'>
                  <div class='marker-text' data-time=<%= l.time %>>
                    <%= l.formatted_time %>
                  </div>
                </div>
                <div class='line-area' data-time=<%= l.time %>>
                  <%= l.lang1 %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  <div id="add-a-line" class="tool-panel">
    <i class="icon icon-plus"></i>
  </div>

</div>
<br/>
<br/>
<br/>

<!--<div id="social-content-area" class="content-area"> 
    <div class="big tab solo" id="all-content">
      <% if controller_name == 'interpretations' %>
        <%= @user.username %>'s learning materials
      <% elsif controller_name == 'videos' %>
        Everyone's learning materials  <i class="icon icon-globe"></i>
      <% end %>
    </div>
    <br><br><br>

    <div id="navigation-sidebar">
      <% if controller_name == 'interpretations' %>
        <% if current_user %>
          <% if current_user.id == @user.id %>
            <div id="new-content" class="sidebar-option">
              <i class="icon icon-plus-sign"></i> Add 
            </div>
          <% end %>
        <% end %>
        <div class="sidebar-option">
          <i class="icon icon-globe"></i>
          <%= link_to "Main page", video_url(@video) %>
        </div>
      <% elsif controller_name == 'videos' %>
        <div id="new-content" class="sidebar-option">
          <i class="icon icon-plus-sign"></i>
          <% if current_user %>
            <% if @this_user_interp.present? %>
              Add 
            <% else %>
              Add your own
            <% end %>
          <% else %>
            Add your own
          <% end %>
        </div>
        <% if current_user %>
          <% if @this_user_interp.present? %>
            <div class="sidebar-option">
              <i class="icon icon-user"></i>
              <%= link_to "Just yours", interpretation_url(@this_user_interp) %>
            </div>
            <% @interps.reject { |i| i == @this_user_interp }.each do |i| %>
              <% this_user = i.user.username %>
              <div class="sidebar-option">
                <i class="icon icon-file"></i>
                <%= link_to "#{this_user}'s materials", interpretation_url(i) %>
              </div>
            <% end %>
          <% else %>
            <% @interps.each do |i| %>
              <% this_user = i.user.username %>
              <div class="sidebar-option">
                <i class="icon icon-file"></i>
                <%= link_to "#{this_user}'s materials", interpretation_url(i) %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <% @interps.each do |i| %>
            <% this_user = i.user.username %>
            <div class="sidebar-option">
              <i class="icon icon-file"></i>
              <%= link_to "#{this_user}'s materials", interpretation_url(i) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div id="community-notes">
      <div id="editing"></div>
      <div id="notes-container">
        <% if @vocabulary.blank? && @multiple_choice.blank? && @transcripts.blank? && @translations.blank? && @tweets.blank? && @discussion_questions.blank? && @links.blank? %>
          <div id='none-yet'>
            <h3 style="text-align: center;"> None yet.</h3>
            <br><br>
          </div>
        <% end %>
        <% if @challenge_contributors.present? %>
          <div class="note-area multiple-choice-area">
            <% @challenge_contributors.each do |c| %>
              <% @challenges = Challenge.where(:user_id => c.id, :video_id => @video.id).all %>
                <% if @challenges.length == 1 then init = "a multiple-choice question" end %>
                <% if @challenges.length > 1 then init = "multiple-choice questions" end %>
                <% unless current_user %>
                  <div class='other-user-content'>
                    <p class="friendly"> <%= link_to "#{c.username}", user_url(c) %> added <%= "#{init}" %>: </p>
                <% else %>
                  <% if current_user.id == c.id %>
                    <div id='current-user-challenges' class='current-user-content'>
                      <p class="friendly">You added <%= "#{init}" %>: </p>
                  <% else %>
                    <div class='other-user-content'>
                      <p class="friendly"> <%= link_to "#{c.username}", user_url(c) %> added <%= "#{init}" %>: </p>
                  <% end %>
                <% end %>
                <% @challenges.each do |challenge| %>
                  <p> <%= challenge.question_text %> </p>
                  <% options = Option.where(:challenge_id => challenge.id).all %>
                  <% options.each do |o| %>
                    <p style="margin-left: 20px;"> <input type='checkbox' id="option-<%= o.id %>" class="option-challenge-<%= challenge.id %>"> <%= o.answer_text %> </p>
                  <% end %>
                  <% if current_user %>
                    <% if current_user.id == c.id %>
                    <% else %>
                      <div id='submit-challenge-<%= challenge.id %>' class='submit-challenge-answer btn btn-primary btn-small rounded' style="margin-left: 20px;"> Add your answer </div>
                    <% end %>
                  <% else %>
                    <div id='submit-challenge-<%= challenge.id %>' class='submit-challenge-answer btn btn-primary btn-small rounded' style="margin-left: 20px;"> Add your answer </div>
                  <% end %>
                <br><br>
              <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @discussion_questions.present? %>
          <div class="note-area discussion-question-area">
            <% @question_contributors.each do |c| %>
              <% @questions = DiscussionQuestion.where(:user_id => c.id, :video_id => @video.id).all %>
                <% if @questions.length == 1 then init = "a discussion question" end %>
                <% if @questions.length > 1 then init = "discussion questions" end %>
                <% unless current_user %>
                  <div class='other-user-content'>
                    <p class="friendly"> <%= link_to "#{c.username}", user_url(c) %> added <%= "#{init}" %>: </p>
                <% else %>
                  <% if current_user.id == c.id %>
                    <div id='current-user-discussion-questions' class='current-user-content'>
                      <p class="friendly">You added <%= "#{init}" %>: </p>
                  <% else %>
                    <div class='other-user-content'>
                      <p class="friendly"> <%= link_to "#{c.username}", user_url(c) %> added <%= "#{init}" %>: </p>
                  <% end %>
                <% end %>
                  <% @questions.each do |question| %>
                    <p> <%= question.question_text %> </p>
                    <% if current_user %>
                      <% if current_user.id == c.id %>
                        <div id='answers-status-<%= question.id %>'>0 responses so far.</div>
                      <% else %>
                        <div id='responses-<%= question.id %>'class='discussion-responses btn btn-primary btn-small rounded'> Responses </div>
                        <div id='add-answer-<%= question.id %>' class='add-discussion-answer btn btn-primary btn-small rounded'> Add your answer </div>
                        <div class='answer-area' id='answer-area-<%= question.id %>'></div> 
                      <% end %>
                    <% else %>
                      <div id='responses-<%= question.id %>'class='discussion-responses btn btn-primary btn-small rounded'> Responses </div>
                    <% end %>
                    <br><br>
                  <% end %>
                <br><br>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @translations.present? %>
          <div class="note-area translation-area">
            <% @translations.each do |t| %>
              <% c = t.user %>
              <% @lines = t.translated_lines.reject { |tl| tl.line.blank? }.sort { |a, b| a.line.time.to_i <=> b.line.time.to_i } %>
              <% unless current_user %>
                <div class='other-user-content'>
                  <p class="friendly"> <%= link_to "#{c.username}", user_url(c) %> added a <%= link_to "translation", translation_url(t) %>: </p>
              <% else %>
                <% if current_user.id == c.id %>
                  <div id='current-user-challenges' class='current-user-content'>
                    <p class="friendly">You added a translation (<%= link_to "edit", translation_url(t) %>): </p>
                <% else %>
                  <div class='other-user-content'>
                    <p class="friendly"> <%= link_to "#{c.username}", user_url(c) %> added a <%= link_to "translation", translation_url(t) %>: </p>
                <% end %>
              <% end %>
              <%= render "videos/translation", :translated_lines => @lines %>
              <br><br>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @links.present? %>
          <div class="note-area links-area">
            <% @link_contributors.each do |c| %>
              <% @links = Link.where(:user_id => c.id, :video_id => @video.id).all %>
                <% unless current_user %>
                  <div class='other-user-content'>
                    <p class="friendly"> <%= link_to "#{c.username}", user_url(c) %> added a link: </p>
                <% else %>
                  <% if current_user.id == c.id %>
                    <div id='current-user-links' class='current-user-content'>
                      <p class="friendly">You added a link: </p>
                  <% else %>
                    <div class='other-user-content'>
                      <p class="friendly"><%= link_to "#{c.username}", user_url(c) %> added a link: </p>
                  <% end %>
                <% end %>
                  <% @links.each do |link| %>
                    <%= image_tag "http://g.etfv.co/#{link.url}", :size => '25x25' %>
                    <strong><%= link_to "#{link.url.split('/')[2]}", link.url %></strong>
                    <p><%= link.excerpt %></p>
                  <% end %>
                </div>
                <br><br>
              <% end %>
            </div>
          <% end %>
        <% if @tweets.present? %>
          <div class="note-area tweets-area">
            <% @tweet_contributors.each do |c| %>
              <% @tweets = Tweet.where(:user_id => c.id, :video_id => @video.id).all %>
                <% unless current_user %>
                  <div class='other-user-content'>
                    <p class="friendly"> <%= link_to "#{c.username}", user_url(c) %> added a Tweet: </p>
                <% else %>
                  <% if current_user.id == c.id %>
                    <div id='current-user-tweets' class='current-user-content'>
                      <p class="friendly"> You added a Tweet: </p>
                  <% else %>
                    <div class='other-user-content'>
                      <p class="friendly"> <%= link_to "#{c.username}", user_url(c) %> added a Tweet: </p>
                  <% end %>
                <% end %>
                  <% @tweets.each do |tweet| %>
                    <blockquote class="twitter-tweet"><a href="https://twitter.com/<%= tweet.tweeter %>/statuses/<%= tweet.twitter_id %>"></a></blockquote>
                  <% end %>
                  <br><br>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div id="dialog-confirm" title="Confirmation">
  <p><span class="ui-icon ui-icon-alert"></span>Sure you want to delete this line?</span></p>
</div>

<div id="data" class="quiet"
 data-youtube-id=<%= @video.youtube_id %>
 data-title=<%= @video.title %>
 data-video-id=<%= @video.id %>
 data-duration=<%= @video.duration %>
</div>