<br>
<br>
<div class="show-video-box centerbox">
  <div id="show-video-box"></div>
    <% if @lines.present? %>
      <div class="lyrics-box centerbox top" id="lyrics">
        <% if @lines_have_lang1 %>    
          <% @lines.each do |l| %>
            <div class="narrow-lyrics-container lang1">
              <div class="text-container">
                <strong></strong><strong><i><p class="lyrics"><%= l.lang1 %></h2></i></strong></strong>
              </div>
            </div>
            <div class="narrow-lyrics-container lang2" id="line-<%= l.time %>">
              <div class="text-container">
                <strong><i><p class="lyrics"><%= l.lang2 %></h2></i></strong>
              </div>
            </div>
          <% end %>
      <% else %>
        <% @lines.each do |l| %>
          <div class="wide-lyrics-container lang2" id="line-<%= l.time %>">
            <div class="text-container">
              <p class="lyrics"><%= l.lang2 %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="centerbox visible relative">
    <div class="btn-group" style="float; left">
      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon icon-2x"></i></a></span></a>
      <ul class="dropdown-menu">
        <% if @lines_have_lang1 %>
          <li><a id="just-lang2">Show just <%= @interpretation.lang2 %></a></li>
          <li><a id="lang1-and-lang2">Show <%= @video.lang1 %> and <%= @interpretation.lang2 %></a></li>
          <li><a id="just-lang1">Show just <%= @video.lang1 %></a></li>
          <li class="divider"></li>
        <% end %>
        <li class="dropdown-submenu">
          <a tabindex="-1">Text color</a>
          <ul class="dropdown-menu">
            <li><a id="black">Black</a></li>
            <li><a id="white">White</a></li>
            <li><a id="sky">Sky</a></li>
          </ul>
        <li class="dropdown-submenu">
          <a tabindex="-1">Text location</a>
          <ul class="dropdown-menu">
            <li><a id="video-top">Video top</a></li>
            <li><a id="video-bottom">Video bottom</a></li>
            <!--- <li><a id="sky">Below video</a></li> -->
          </ul>
      </ul>
    </div>
    <div style="position: absolute; right: 2%; top: 30%;"><i class="h3"><i>Translated by <%= if @user == 'anon' then 'anonymous' else link_to "#{@user.name}", user_url(@user) end %></i></div>
  </div>
<% else %>
  <div class="centerbox" style="text-align: center;"><h3>Nobody's translated this song yet. <%= link_to "Want to give it a try?", "/videos/new" %></h3></div>
<% end %>

<%= content_tag "div", id: "video-id", data: { youtube_id: @video.youtube_id } do %>
<% end %>

<%= content_tag "div", id: "interpretation-id", data: { youtube_id: @interpretation.id } do %>
<% end %>