<div id="outer-video-box" class="video-container" style="margin-left: 120px;">
  <div id="title-box"><h3 style="margin-top: 20px; color:white;"><%= @video.title %></h3></div>
  <div id="watch-again"></div>
  <div id="new-video-box"></div>
  <div id="timer-box"></div>
  <div id="settings">
    <div style="margin-top: 15px; margin-left: 22px;">
      <% if current_user %>
        <p style="font-size: 15px">You've watched <span id="video-play-counter"><%= @current_user_play_count %></span> times.</p>
        <% if @star.present? %>
          <i class='icon icon-star icon-2x star' id='star-full' data-star-id='<%= @star.id %>'> </i>
        <% else %>
          <i class="icon icon-star-empty icon-2x star" id="star-empty"> </i>
        <% end %>
      <% else %>
        <%= link_to "Sign in", "/sign_in" %> to track your progress!
      <% end %>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack' id='play-pause' style="position: absolute; top: 13px; right: 22px;"> 
        <i class='icon-pause'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack' id='volume' style="position: absolute; top: 13px; right: 62px;"> 
        <div id='volume-slider'> </div>
        <i class='icon-volume-up'></i> 
      </div>
    </div>
    <br>
    <div style="margin-top: 45px; margin-left: 15px; margin-right: 15px; font-size: 14px;">
      <div id='new-tag-area'></div>
      <div id='tag-area'>
          <div id="tags-list" style="float: left; margin-bottom: 20px;">
            <span id='language-tags' class='tag-category'>
              <% if @lang_tags.present? %>
                <span class="tiny">Language<% if @lang_tags.length > 1 %>s<% end %>:</span> &nbsp;
                <% @lang_tags.each do |t| %>
                  <%= link_to "#{t.name}", tag_url(t) %><% unless t == @last_lang_tag %>, <% end %>
                <% end %>
              <% end %>
            </span>
            <span id='artist-tags' class='tag-category'>
              <% if @artist_tags.present? %>
                <span class="tiny">Artist<% if @artist_tags.length > 1 %>s<% end %>:</span> &nbsp;
                <% @artist_tags.each do |t| %>
                  <%= link_to "#{t.name}", tag_url(t) %><% unless t == @last_artist_tag %>, <% end %>
                <% end %>
              <% end %>
            </span>
            <span id='difficulty-tags' class='tag-category right'>
              <% if @difficulty_tags.present? %>
                <span class="tiny">Difficulty:</span> &nbsp;
                <% @difficulty_tags.each do |t| %>
                  <%= link_to "#{t.name}", tag_url(t) %><% unless t == @last_difficulty_tag %>, <% end %>
                <% end %>
              <% end %>
            </span>
            <span id='style-tags' class='tag-category right'>
              <% if @style_tags.present? %>
                <span class="tiny">Style<% if @style_tags.length > 1 %>s<% end %>:</span> &nbsp;
                <% @style_tags.each do |t| %>
                  <%= link_to "#{t.name}", tag_url(t) %><% unless t == @last_style_tag %>, <% end %>
                <% end %>
              <% end %>
            </span>
          </div>
        <% if @tags.blank? %>
          <span id='no-tags-yet' style="margin-left: 10px;">
            No tags yet!
          </span>
          <br><br>
        <% end %>
      </div>
      <div id='add-tag-action-prompt' style="margin-left: 10px;">
        <span id="add-tag" class="link-style">Add a tag</span> that describes this video.
      </div>
      <br>
    </div>
  </div>
</div>

<div id="social-content-area" class="content-area"> 
    <% if controller_name == 'videos' %>
      <div id="all-content" class="big tab">Everyone's <span style='font-size:14px;color:white;'> materials</span></div>
      <% if current_user %>
        <% @this_user_interp = Interpretation.where(:video_id => @video.id, :user_id => current_user.id).first %>
        <% if @this_user_interp.present? %>
          <div id="just-your-content" class="small tab">
            Just yours<br><%= link_to "(own page)", interpretation_url(@this_user_interp), :style => "color:white;font-size:10px;position:relative;bottom:6px;" %>
          </div>
        <% end %>
      <% end %>
      <div id="new-content" class="small tab">Add!</div>
    <% elsif controller_name == 'interpretations' %>
      <div class="big tab solo" id="all-content"><%= @user.username %>'s learning materials</div>
      <% if current_user %>
        <% if current_user.id == @user.id%>
          <div id="new-content" class="small tab">Add!</div>
        <% end %>
      <% end %>
    <% end %>
    <br><br><br>
    <div class="small-tab"> &nbsp; &nbsp; 
      <i>Content:</i> &nbsp; &nbsp;
      <div style="position: absolute; left: 110px; top: 4px;">
        <span id="vocabulary" class="note-category <% if @vocabulary.present? %>active<% else %>inactive<% end %>">
          Vocabulary
        </span> &nbsp;
        <span id="transcript" class="note-category <% if @lines.present? %>active<% else %>inactive<% end %>">
          Lyrics/Transcript
        </span> &nbsp;
        <span id="translation" class="note-category <% if @translation.present? %>active<% else %>inactive<% end %>">
          Translation
        </span> &nbsp;
      </div>
      <br>
       &nbsp; &nbsp; <i>Quizzes:</i> &nbsp; &nbsp;
      <div style="position: absolute; left: 110px; top: 24px;">
        <span id="multiple-choice" class="note-category <% if @multiple_choice.present? %>active<% else %>inactive<% end %>">
          Multiple-Choice
        </span> &nbsp; 
        <span id="fill-in-the-blanks" class="note-category <% if @fill_in_the_blank.present? %>active<% else %>inactive<% end %>">
          Fill-In-The-Blank
        </span> &nbsp; 
      </div>
      <br>
       &nbsp; &nbsp; <i>Enrichment:</i> &nbsp; &nbsp;
      <div style="position: absolute; left: 110px; top: 44px;">
        <span id="discussion-question" class="note-category <% if @discussion_questions.present? %>active<% else %>inactive<% end %>">
          Discussion
        </span> &nbsp; 
        <span id="links" class="note-category <% if @links.present? %>active<% else %>inactive<% end %>">
          Links
        </span> &nbsp;
        <span id="tweets" class="note-category <% if @tweets.present? %>active<% else %>inactive<% end %>">
          Tweets
        </span> &nbsp;
      </div>
    </div>

    <div id="community-notes">
      <div id="editing"></div>
      <div id="notes-container">
        <% if @vocabulary.blank? && @multiple_choice.blank? && @lines.blank? && @translations.blank? && @tweets.blank? && @discussion_questions.blank? && @links.blank? %>
          <div id='none-yet'>
            <h3 style="text-align: center;"> None yet.</h3>
            <br><br>
          </div>
        <% end %>
        <% if @vocabulary.present? %>
          <div class="note-area vocabulary-area">
            <% @vocabulary_contributors.each do |c| %>
              <% c_words = Word.where(:user_id => c.id, :video_id => @video.id).order("created_at DESC") %>
                <% unless current_user %>
                  <div class='other-user-content'> 
                    <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added vocabulary definitions: </p>
                <% else %>
                  <% if current_user.id == c.id %>
                    <div id='current-user-definitions' class='current-user-content'>
                      <p style="font-size: 16px;">You added vocabulary definitions: </p>
                  <% else %>
                    <div class='other-user-content'> 
                     <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added vocabulary definitions: </p>
                  <% end %>
                <% end %>
                <% c_words.each do |w| %>
                  <% d = Definition.where(:word_id => w.id).first %>
                  <li><%= link_to "#{w.text + " = " + d.text}", definition_url(d) %></li>
                <% end %>
                <br><br>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @challenge_contributors.present? %>
          <div class="note-area multiple-choice-area">
            <% @challenge_contributors.each do |c| %>
              <% @challenges = Challenge.where(:user_id => c.id, :video_id => @video.id).all %>
                <% if @challenges.length == 1 then init = "a multiple-choice question" end %>
                <% if @challenges.length > 1 then init = "multiple-choice questions" end %>
                <% unless current_user %>
                  <div class='other-user-content'>
                    <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added <%= "#{init}" %>: </p>
                <% else %>
                  <% if current_user.id == c.id %>
                    <div id='current-user-challenges' class='current-user-content'>
                      <p style="font-size: 16px;">You added <%= "#{init}" %>: </p>
                  <% else %>
                    <div class='other-user-content'>
                      <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added <%= "#{init}" %>: </p>
                  <% end %>
                <% end %>
                <% @challenges.each do |challenge| %>
                  <p> <%= challenge.question_text %> </p>
                  <% options = Option.where(:challenge_id => challenge.id).all %>
                  <% options.each do |o| %>
                    <p style="margin-left: 20px;"> <input type='checkbox' id="option-<%= o.id %>" class="option-challenge-<%= challenge.id %>"> <%= o.answer_text %> </p>
                  <% end %>
                  <% if current_user %>
                    <% if current_user.id == c.id %>
                    <% else %>
                      <div id='submit-challenge-<%= challenge.id %>' class='submit-challenge-answer btn btn-primary btn-small rounded' style="margin-left: 20px;"> Add your answer </div>
                    <% end %>
                  <% else %>
                    <div id='submit-challenge-<%= challenge.id %>' class='submit-challenge-answer btn btn-primary btn-small rounded' style="margin-left: 20px;"> Add your answer </div>
                  <% end %>
                <br><br>
              <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @discussion_questions.present? %>
          <div class="note-area discussion-question-area">
            <% @question_contributors.each do |c| %>
              <% @questions = DiscussionQuestion.where(:user_id => c.id, :video_id => @video.id).all %>
                <% if @questions.length == 1 then init = "a discussion question" end %>
                <% if @questions.length > 1 then init = "discussion questions" end %>
                <% unless current_user %>
                  <div class='other-user-content'>
                    <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added <%= "#{init}" %>: </p>
                <% else %>
                  <% if current_user.id == c.id %>
                    <div id='current-user-discussion-questions' class='current-user-content'>
                      <p style="font-size: 16px;">You added <%= "#{init}" %>: </p>
                  <% else %>
                    <div class='other-user-content'>
                      <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added <%= "#{init}" %>: </p>
                  <% end %>
                <% end %>
                  <% @questions.each do |question| %>
                    <p> <%= question.question_text %> </p>
                    <% if current_user %>
                      <% if current_user.id == c.id %>
                        <div id='answers-status-<%= question.id %>'>0 responses so far.</div>
                      <% else %>
                        <div id='responses-<%= question.id %>'class='discussion-responses btn btn-primary btn-small rounded'> Responses </div>
                        <div id='add-answer-<%= question.id %>' class='add-discussion-answer btn btn-primary btn-small rounded'> Add your answer </div>
                        <div class='answer-area' id='answer-area-<%= question.id %>'></div> 
                      <% end %>
                    <% else %>
                      <div id='responses-<%= question.id %>'class='discussion-responses btn btn-primary btn-small rounded'> Responses </div>
                    <% end %>
                    <br><br>
                  <% end %>
                <br><br>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @interps_with_translations.present? %>
          <div class="note-area translation-area">
            <% @interps_with_translations.each do |i| %>
              <% c = i.user %>
              <% @lines = i.lines.order("time ASC").reject { |r| r.lang2.blank? && Translation.where(:line_id => r.id).blank? } %>
              <% unless current_user %>
                <div class='other-user-content'>
                  <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added a translation: </p>
              <% else %>
                <% if current_user.id == c.id %>
                  <div id='current-user-challenges' class='current-user-content'>
                    <p style="font-size: 16px;">You added a translation (<span class="edit-translation blue-link">edit</span>): </p>
                <% else %>
                  <div class='other-user-content'>
                    <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added a translation: </p>
                <% end %>
              <% end %>
              <%= render "videos/translation", :translated_lines => @lines %>
              <br><br>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @lines.present? %>
          <div class="note-area transcript-area">
            <% @interps_with_lines.each do |i| %>
              <% c = i.user %>
              <% @lines = i.lines.order("created_at ASC").order("time ASC") %>
              <% unless current_user %>
                <div class='other-user-content'>
                  <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added a transcript: </p>
              <% else %>
                <% if current_user.id == c.id %>
                  <div id='current-user-lines' class='current-user-content'>
                    <p style="font-size: 16px;">You added a transcript:<br> <span style="font-size: 12px;">(<span class="edit-lines blue-link">edit lines</span> / <span class="add-times-to-lines blue-link">add times</span> / <span class="toggle-autoscroll blue-link">turn off autoscroll</span>)</span></p>
                <% else %>
                  <div class='other-user-content'>
                    <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added a transcript: </p>
                <% end %>
              <% end %>
                <% @lines.each do |l| %>
                  <div class="transcript-line rounded" data-time=<%= l.time %>>
                    <% if current_user %>
                      <% if current_user.id == c.id %>
                      <span class='edit-line blue-link quiet tiny' data-line-id=<%= l.id %>> <i class='icon icon-pencil'></i> </span>
                      <% end %>
                    <% end %>
                    <span class="lang1" data-line-id=<%= l.id %>>
                      <%= l.lang1 %>
                    </span>
                    <% if current_user %>
                      <% if current_user.id == c.id %>
                        <span class='add-time-to-line blue-link quiet tiny' data-line-id=<%= l.id %>> &nbsp; <i class='icon icon-time'></i> </span>
                      <% end %>
                    <% end %>
                    <% if l.time.present? %>
                      <span class="line-timing tiny gray" data-line-id=<%= l.id %> data-time=<%= l.time %>>
                        <%= l.formatted_time %>
                      </span>
                    <% end %>
                  </div>
                <% end %>
                <br><br>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @links.present? %>
          <div class="note-area links-area">
            <% @link_contributors.each do |c| %>
              <% @links = Link.where(:user_id => c.id, :video_id => @video.id).all %>
                <% unless current_user %>
                  <div class='other-user-content'>
                    <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added a link: </p>
                <% else %>
                  <% if current_user.id == c.id %>
                    <div id='current-user-links' class='current-user-content'>
                      <p style="font-size: 16px;">You added a link: </p>
                  <% else %>
                    <div class='other-user-content'>
                      <p style="font-size: 16px;"><%= link_to "#{c.username}", user_url(c) %> added a link: </p>
                  <% end %>
                <% end %>
                  <% @links.each do |link| %>
                    <%= image_tag "http://g.etfv.co/#{link.url}", :size => '25x25' %>
                    <strong><%= link_to "#{link.url.split('/')[2]}", link.url %></strong>
                    <p><%= link.excerpt %></p>
                  <% end %>
                </div>
                <br><br>
              <% end %>
            </div>
          <% end %>
        <% if @tweets.present? %>
          <div class="note-area tweets-area">
            <% @tweet_contributors.each do |c| %>
              <% @tweets = Tweet.where(:user_id => c.id, :video_id => @video.id).all %>
                <% unless current_user %>
                  <div class='other-user-content'>
                    <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added a Tweet: </p>
                <% else %>
                  <% if current_user.id == c.id %>
                    <div id='current-user-tweets' class='current-user-content'>
                      <p style="font-size: 16px;"> You added a Tweet: </p>
                  <% else %>
                    <div class='other-user-content'>
                      <p style="font-size: 16px;"> <%= link_to "#{c.username}", user_url(c) %> added a Tweet: </p>
                  <% end %>
                <% end %>
                  <% @tweets.each do |tweet| %>
                    <blockquote class="twitter-tweet"><a href="https://twitter.com/<%= tweet.tweeter %>/statuses/<%= tweet.twitter_id %>"></a></blockquote>
                  <% end %>
                  <br><br>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="data" class="quiet"
 data-youtube-id=<%= @video.youtube_id %>
 data-title=<%= @video.title %>
 data-video-id=<%= @video.id %>
</div>