
<div id="vertical-bar">

  <div class="video-container-alt">
    <div class="title-box-alt"><p><%= @video.title %></p></div>
      <br>
      <div id="new-video-box"></div>
      <div id="playback-row">
        <div id="row-slider-handle" class="slider-handle"></div>
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack' id='play-pause' style="position: relative; top: 20px; left: 5px;"> 
        <i class='icon-pause'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack' id='volume' style="position: relative; top: 20px; left: 5px;">
        <div id='volume-slider'> </div>
        <i class='icon-volume-up'></i> 
      </div>
      <div class='btn btn-info btn-small btn-tiny rounded tight-pack' style="position: relative; top: 20px; left: 5px;">
        <i class='icon-cog'></i> 
      </div>
  </div>

  <div id="playback-column-box">
    <% n = 0 %>
    <% @video.duration.times do |s| %>
      <% n += 1 %>
      <!-- <div class='time-marker' data-time-marker=<%= n %>>
        <div class='marker-text'>
          <%= n %>
        </div>
      </div>
    </br> -->
    <% end %>

    <div id="playback-column">
      <div id="column-slider-handle" class="slider-handle"></div>
    </div> 
    
  </div>

  <div id="line-container" class="video-container-alt">
    <div id="new-line-area"></div>
  </div>>

  <div id="add-a-line" class="tool-panel">
    <i class="icon icon-plus"></i>
  </div>

</div>
<br/>
<br/>
<br/>

<div id="data" class="quiet"
 data-youtube-id=<%= @video.youtube_id %>
 data-title=<%= @video.title %>
 data-video-id=<%= @video.id %>
</div>
<% if @transcript.present? %>
  <% if @transcript.lines.present? %>
    <% @transcript.lines.each do |l| %>
      <p class="line quiet" data-time=<%= l.time %>><%= l.lang1 %></p>
    <% end %>
  <% end %>
<% end %>