<div id="social-content-area" class="content-area"> 
  <div id="lines"></div>
      <div id="community-notes">


  Kan du holde på en hemmlighet?
Jeg er ikke den du tror du vet
Jeg vi'kke se deg såra
Kan du holde på en hemmlighet?
Jeg er ikke den du tror du vet
Jeg er en supernova
Supernova
Supernova
Supernova
Supernova

Vi to er så awesome, sammen er vi gull
Jeg ser ikke på noen annen dame selv om jeg er full.
For jeg har vært på byen en og to ganger før
Sett en og annen tøs blit sjarmert og fått følt
De såra meg for døvt æh så lite ekte før
Men jeg kan aldri si jeg har følt no så ekte før
Og jeg kan si at jeg dør for deg
For vi har mer enn en in love som et ektepar
Er jeg med for deg
De kaller meg ung og dum
Slår på tv'en din bare sett på tv2
Du trenger ikke si no', jeg vet hva du tenker
Det går så fort frem som en bil uten bremser
For jeg vi'kke vente mer, og la det gå forbi
Vil heller gjøre det fordi jeg har laga låta til
For jeg husker hva du sa og jeg vet hva jeg lova
For vi er bare supernova

Kan du holde på en hemmlighet?
Jeg er ikke den du tror du vet
Jeg vi'kke se deg såra
Kan du holde på en hemmlighet?
Jeg er ikke den du tror du vet
Jeg er en supernova
Supernova
Supernova
Supernova
Supernova

Supernova, og det smeller så hardt
Karriera mi den tar løpefart
Og det er sinnsykt så jeg spiller ydmykt
Har for mange show jeg begyner å bli fly syk
Så hva skal til for å få deg til å spinne meg rundt
Snurrer globusen se om de kan finne meg
Hva holder du inni deg?
Jeg vil ikke finne det ut selv om det brenner meg
Når ble du så hemmlighets-full?
Hjertet mitt slår en brukt stift i alt for deg
Musikken din i hodet mitt er alt for meg
Jeg har vært på byen og sett alt det der
Så jeg må finne en som ikke er så altfor sein
Var det noe jeg gjorde, var det noe jeg sa
Var det mere enn bare strenger på en kasse gitar
For du va'kke helt den dama som jeg trodde du var
Når du steppa opp og gjorde hele stedet til en gåte bar

Kan du holde på en hemmlighet?
Jeg er ikke den du tror du vet
Jeg vi'kke se deg såra
Kan du holde på en hemmlighet?
Jeg er ikke den du tror du vet
Jeg er en supernova
Supernova
Supernova
Supernova
Supernova

(Ah-ah-ah-ah-ah-ah-aha)

Supernova
Supernova
Supernova
Supernova

(Ah-ah-ah-ah-ah-ah-aha)

</div>
</div>

<!--<div class="centerbox center">
  <br>
  <h1 style="line-height: 48px;">Learning a language should be <strong>fun.</strong></h1>
  <br>
  <h2>Agree? We'll be a good fit.</h3>
  <br>
  <br>
 
 <h3 style="text-align: left;">Translate a catchy song...</h3>
  <br>
    <%= image_tag 'translation-in-action-screenshot.png' %>
  <br><br>
 <h3 style="text-align: right;">...in sync with YouTube.</h3>
  <br>
    <%= image_tag 'show-page-screenshot.png', :size => '600x600' %>
  <br><br>
    <br>

 <h3 style="text-align: left;">Use lyrics to reinforce grammar.</h3>
  <br>
    <%= image_tag 'grammar-emphasis-screenshot.png' %>
  <br><br>
    <br>
    
 <h3 style="text-align: right;">Works across languages!</h3>
    <%= image_tag 'language-select-screenshot.png' %>
  <br><br>
  <br>
  <h2><i><strong><%= link_to "Give Heyu a spin?", "/join" %></strong></i></h3>

  <br><br>
    <br>

</div> -->

<!--- <div class="column">
  <p>Use Twitter? <br><a id='twitter-imgae'>Click here</a> to use your Twitter profile image with Heyu.</p>
</div> -->