<div id="lyrics-box"> </div>

<textarea style="margin-left: 100px; height: 400px;"> </textarea>

<div class="btn btnprimary" id="submit"> Submit </div>

<!-- <div class="centerbox center">
  <br>
  <h1 style="line-height: 48px;">Learning a language should be <strong>fun.</strong></h1>
  <br>
  <h2>Agree? We'll be a good fit.</h3>
  <br>
  <br>
 
 <h3 style="text-align: left;">Translate a catchy song...</h3>
  <br>
    <%= image_tag 'translation-in-action-screenshot.png' %>
  <br><br>
 <h3 style="text-align: right;">...in sync with YouTube.</h3>
  <br>
    <%= image_tag 'show-page-screenshot.png', :size => '600x600' %>
  <br><br>
    <br>

 <h3 style="text-align: left;">Use lyrics to reinforce grammar.</h3>
  <br>
    <%= image_tag 'grammar-emphasis-screenshot.png' %>
  <br><br>
    <br>
    
 <h3 style="text-align: right;">Works across languages!</h3>
    <%= image_tag 'language-select-screenshot.png' %>
  <br><br>
  <br>
  <h2><i><strong><%= link_to "Give Heyu a spin?", "/join" %></strong></i></h3>

  <br><br>
    <br>

</div>

<!--- <div class="column">
  <p>Use Twitter? <br><a id='twitter-imgae'>Click here</a> to use your Twitter profile image with Heyu.</p>
</div> -->