<div class="row">
  <div class="offset3 span12">
  <br>
  <% if current_user %>
    <% if current_user.firstname %>
      <h1 style='text-align: center;'>Welcome <%= current_user.firstname %></h1>
    <% else %>
      <h1 style='text-align: center;'>Welcome, <%= current_user.username %>!</h1>
    <% end %>
    <br>
  <% else %>
    <h1 style='text-align: center;'><strong>Love learning languages?</strong></h1>
    <br>
    <h2 style='text-align: center; font-size: 30px;'>You know it's more fun to learn with <i class="icon icon-music"></i> than with <i class="icon icon-book"></i>.</h2>
    <h2 style='text-align: center; font-size: 30px;'>Join Heyu to turn <i class="icon icon-youtube-sign"></i> into a language resource for the <i class="icon icon-globe"></i>.</h2>
    <h2 style='text-align: center; font-size: 30px;'>(<i><a href='/philosophy'>Read more.</a></i>)</h2>
    <br>
    <% end %>
  <br>
  <br><br>
  </div>
</div>
<div class="row">
  <div class="offset4">
    <div class="video-thumb-box frontpage-thumb-box featured-video-box" data-video-slug=<%= @featured_video_1.slug %>>
      <strong>SPANISH</strong>
      <br><br>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_1.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "#{@featured_video_1.image}" %></div>
    </div>
    <div class="video-thumb-box frontpage-thumb-box featured-video-box" data-video-slug=<%= @featured_video_2.slug %>>
      <strong>FRENCH</strong>
      <br><br>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_2.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "#{@featured_video_2.image}" %></div>
    </div>
    <div class="video-thumb-box frontpage-thumb-box featured-video-box" data-video-slug=<%= @featured_video_3.slug %>>
      <strong>ITALIAN</strong>
      <br><br>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_3.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "#{@featured_video_3.image}" %></div>
    </div>
    <div class="video-thumb-box frontpage-thumb-box featured-video-box" data-video-slug=<%= @featured_video_4.slug %>>
      <strong>HINDI</strong>
      <br><br>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_4.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "#{@featured_video_4.image}" %></div>
    </div>
    <br><br>
  </div>
</div>
<br><br>
<div class="row">
  <div class="offset1">
    <span>
      <h2> Show me videos in... &nbsp;
      <div class="btn-group">
        <div class="btn btn-info rounded dropdown-toggle" data-toggle="dropdown"> (select language) </div>
        <ul class="dropdown-menu">
          <li><a class="language-selector" id="all">All</a></li>
          <% @language_tags.each do |t_name| %>
            <li><a class="language-selector" id="<%= t_name %>"><%= t_name %></a></li>
          <% end %>
        </ul>
      </div>
    </h2>
    </span>
    <hr id="hr">
    <%  @interps_with_some_content.each do |i| %>
      <% v = i.video %>
      <div class="video-thumb-box frontpage-thumb-box <%= if v.langs.present? then v.langs[0] end %>" title="<%= v.title %>" data-video-slug=<%= v.slug %>>
        <strong class="center" style="color: #2793E6;"><%= "#{v.title.slice(0,25)}" %></strong>
        <br>
        <div class="image-box"><%= image_tag "#{v.image}" %></div>
      </div>
    <% end %>
  </div>
</div>
</div>
<div id="data" class="quiet" data-edit-video-languages="<%= @interp.present? %>" <% if @interp.present? %>data-youtube-id='<%= @youtube_id %>' data-title='<%= @title %>'<% end %>>