<div class="row">
  <div class="offset3 span12">
  <br>
  <% if current_user %>
    <% if current_user.firstname %>
      <h1 style='text-align: center;'>Welcome <%= current_user.firstname %></h1>
    <% else %>
      <h1 style='text-align: center;'>Welcome, <%= current_user.username %>!</h1>
    <% end %>
    <br>
  <% else %>
    <h1 style='text-align: center;'><strong>Love learning languages?</strong></h1>
    <br>
    <h2 style='text-align: center; font-size: 30px;'>You know <i class="icon icon-youtube-sign"></i> is a great resource.</h2>
    <h2 style='text-align: center; font-size: 30px;'>Let's turn <i class="icon icon-youtube-sign"></i> into a <i class="icon icon-book"></i> for the <i class="icon icon-globe"></i>.</h2>
    <br>
    <div style="width: 500px; margin-left: auto; margin-right: auto;">
      <h2 style='text-align: center; font-size: 21px; line-height: 30px;'>Join Heyu, a community of language learners and teachers adding notes, vocabulary, and quizzes that turn YouTube videos into language  resources.</h2>
    </div>
    <% end %>
  <br>
  <br><br>
  </div>
</div>
<div class="row">
  <div class="offset4">
    <div class="video-thumb-box frontpage-thumb-box featured-video-box" data-video-id=<%= @featured_video_1.id %>>
      <strong>SPANISH</strong>
      <br><br>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_1.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "http://img.youtube.com/vi/#{@featured_video_1.youtube_id}/1.jpg" %></div>
    </div>
    <div class="video-thumb-box frontpage-thumb-box featured-video-box" data-video-id=<%= @featured_video_2.id %>>
      <strong>FRENCH</strong>
      <br><br>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_2.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "http://img.youtube.com/vi/#{@featured_video_2.youtube_id}/1.jpg" %></div>
    </div>
    <div class="video-thumb-box frontpage-thumb-box featured-video-box" data-video-id=<%= @featured_video_3.id %>>
      <strong>ITALIAN</strong>
      <br><br>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_3.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "http://img.youtube.com/vi/#{@featured_video_3.youtube_id}/1.jpg" %></div>
    </div>
    <div class="video-thumb-box frontpage-thumb-box featured-video-box" data-video-id=<%= @featured_video_4.id %>>
      <strong>HINDI</strong>
      <br><br>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_4.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "http://img.youtube.com/vi/#{@featured_video_4.youtube_id}/1.jpg" %></div>
    </div>
    <br><br>
  </div>
</div>
<br><br>
<div class="row">
  <div class="offset1">
    <span>
      <h2> Show me videos in... &nbsp;
      <div class="btn-group">
        <div class="btn btn-info rounded dropdown-toggle" data-toggle="dropdown"> (select language) </div>
        <ul class="dropdown-menu">
          <li><a class="language-selector" id="featured">Featured</a></li>
          <li><a class="language-selector" id="all">All</a></li>
        </ul>
      </div>
    </h2>
    </span>
    <hr id="hr">
    <%  @interps_with_some_content.each do |i| %>
      <% v = i.video %>
      <div class="video-thumb-box frontpage-thumb-box" title="<%= v.title %>" data-video-id=<%= v.id %>>
        <strong class="center" style="color: #2793E6;"><%= "#{v.title.slice(0,25)}" %></strong>
        <br>
        <div class="image-box">
          <%= image_tag "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<div id="data" class="quiet" data-edit-video-languages="<%= @interp.present? %>" <% if @interp.present? %>data-youtube-id='<%= @youtube_id %>' data-title='<%= @title %>'<% end %>>