<div class="wide-centerbox center">
  <br>
  <% if current_user %>
    <% if current_user.firstname %>
      <h1>Welcome <%= current_user.firstname %></h1>
    <% else %>
      <h1>Welcome, <%= current_user.username %>!</h1>
    <% end %>
    <br>
  <% else %>
    <h1 style='text-align: center;'><strong>Heyu = Music + Language Learning</strong></h1>
    <br>
    <h2 style='text-align: center;'><i>create translations // link with lessons // explain, discuss, and compare</i></h2>
  <% end %>
  <br>
  <br>
</div>
<div class="index-button" id="new-translation-button">
  <div class="button-text-wrapper">
    <p class="index-button-text">Search YouTube here to translate a new video:</p>
  </div>
  <div class="button-text-wrapper" style="float: left;"> 
    <div class="controls" style="position: absolute;">
      <input type="text" class="short-text-box new-video-input" id="ask-youtube"><%= image_tag "youtube-logo.png", :size => '71x71', :style => 'position: relative; left: -12px; top: -5px;' %>
      <input type="hidden" id="youtube_id">
      <div id="progress-bar"></div>
    </div>
  </div>
</div>
<div id="results-box"></div>
<br>
<br>
<div class="row" id="featured-videos">
  <div class="offset1">
    <h2> Featured videos: </h2>

      <hr id="hr">

      <%  @featured_videos.each do |i| %>
        <% v = i.video %>
        <div class="video-thumb-box frontpage-thumb-box <%= v.lang1 %>" data-interp-id=<%= i.id %>>
          <strong class="center" style="color: #2793E6;"><%= "#{v.title.slice(0,25)}" %></strong>
          <br>
          <div class="image-box">
            <%= image_tag "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" %>
          </div>
        </div>
      <% end %>

  </div>
</div>

<div class="row">

  <div class="offset1">

    <span>

      <h2> Show me videos in... &nbsp;

      <div class="btn-group">
        <div class="btn btn-info rounded dropdown-toggle" data-toggle="dropdown"> (select language) </div>
        <ul class="dropdown-menu">
          <% @langs_with_some_content.each do |l| %>
            <li><a class="language-selector" id="<%= l %>"><%= l %></a></li>
          <% end %>
        </ul>
      </div>

    </h2>

    </span>
    <hr id="hr">

    <%  @interps_with_some_content.each do |i| %>
      <% v = i.video %>
      <div class="video-thumb-box frontpage-thumb-box <%= v.lang1 %>" data-interp-id=<%= i.id %>>
        <strong class="center" style="color: #2793E6;"><%= "#{v.title.slice(0,25)}" %></strong>
        <br>
        <div class="image-box">
          <%= image_tag "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" %>
        </div>
      </div>
    <% end %>

  </div>

</div>


</div>
<br>
<br>
<br>