<div class="wide-centerbox center">
  <br>
  <% if current_user %>
    <% if current_user.firstname %>
      <h1>Welcome <%= current_user.firstname %></h1>
    <% else %>
      <h1>Welcome, <%= current_user.username %>!</h1>
    <% end %>
    <br>
  <% else %>
    <h1 style='text-align: center;'><strong>Love learning languages?</strong></h1>
    <br>
    <h2 style='text-align: center;'><i>YouTube is your new best friend.</i></h2>
  <% end %>
  <br><br>
</div>
<div class="row">
  <div class="offset3">
    <div class="video-thumb-box frontpage-thumb-box" data-video-id=<%= @featured_video_1.id %>>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_1.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "http://img.youtube.com/vi/#{@featured_video_1.youtube_id}/1.jpg" %></div>
    </div>
  <span style="font-size: 30px; position: relative; top: 60px; color: black;">&larr;&nbsp;Create translations.</span>
  </div>
</div>
<div class="row" style="position: relative; bottom: 120px;">
  <div class="offset7">
    <span style="font-size: 30px; position: relative; top: 100px; color: black;">Build vocabulary lists.&nbsp;&rarr;</span>
  </div>
  <div class="offset12">
    <div class="video-thumb-box frontpage-thumb-box" data-video-id=<%= @featured_video_2.id %>>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_2.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "http://img.youtube.com/vi/#{@featured_video_2.youtube_id}/1.jpg" %></div>
    </div>
  </div>
</div>
<div class="row" style="position: relative; bottom: 180px;">
  <div class="offset4">
    <div class="video-thumb-box frontpage-thumb-box" data-video-id=<%= @featured_video_3.id %>>
      <strong class="center" style="color: #2793E6;"><%= "#{@featured_video_3.title.slice(0,25)}" %></strong>
      <br><div class="image-box"><%= image_tag "http://img.youtube.com/vi/#{@featured_video_3.youtube_id}/1.jpg" %></div>
    </div>
  <span style="font-size: 30px; position: relative; top: 60px; color: black;">&larr;&nbsp;Works with any langauge.</span>
  </div>
</div>





<div class="index-button" id="new-translation-button">
  <div class="button-text-wrapper">
    <p class="index-button-text">Search YouTube here to translate a new video:</p>
  </div>
  <div class="button-text-wrapper" style="float: left;"> 
    <div class="controls" style="position: absolute;">
      <input type="text" class="short-text-box new-video-input" id="ask-youtube"><%= image_tag "youtube-logo.png", :size => '71x71', :style => 'position: relative; left: -12px; top: -5px;' %>
      <input type="hidden" id="youtube_id">
      <div id="progress-bar"></div>
    </div>
  </div>
</div>
<div id="results-box"></div>
<br>
<br>
<div class="row">
  <div class="offset1">
    <span>
      <h2> Show me videos in... &nbsp;
      <div class="btn-group">
        <div class="btn btn-info rounded dropdown-toggle" data-toggle="dropdown"> (select language) </div>
        <ul class="dropdown-menu">
          <li><a class="language-selector" id="featured">Featured</a></li>
          <li><a class="language-selector" id="all">All</a></li>
        </ul>
      </div>
    </h2>
    </span>
    <hr id="hr">
    <%  @interps_with_some_content.each do |i| %>
      <% v = i.video %>
      <div class="video-thumb-box frontpage-thumb-box" title="<%= v.title %>" data-video-id=<%= v.id %>>
        <strong class="center" style="color: #2793E6;"><%= "#{v.title.slice(0,25)}" %></strong>
        <br>
        <div class="image-box">
          <%= image_tag "http://img.youtube.com/vi/#{v.youtube_id}/1.jpg" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<br>
<br>
<br>
<div id="data" class="quiet" data-edit-video-languages="<%= @interp.present? %>" <% if @interp.present? %>data-youtube-id='<%= @youtube_id %>' data-title='<%= @title %>'<% end %>>