<br>
<div id="title-box" class="centerbox very-wide-box"><h2><%= @video.title %></h2></div>

<div class="row-fluid">

  <div class="span5">

    <div id="outer-video-box" class="video-container">
      <div class="lyrics-box small" id="lyrics">
        <div class="small-lyrics-container lang1"></div>
        <div class="small-lyrics-container lang2"></div>
      </div>
      <div id="new-video-box"></div>
      <div id="timer-box"></div>
      <div id="loop-settings"></div>
    </div>

  </div> 

  <div class="span7">
    
    <div id="controls"></div></div>

    <div class="row-fluid">

      <% if @lang1_and_lang2 %>

        <div class="span3">
          <div class="lyrics-container">
            <div id="lang1-box">    
              <div id="lang1-lyrics">
                <% @lines.each do |l| %>
                  <% if l.lang1.present? %>
                    <p id="lang1-<%= l.time %>" class="editing-lyrics" data-line-id=<%= l.id %> data-time=<%= l.time %> data-duration=<%= l.duration %>><small><small class='edit-duration'>(<%= l.formatted_time %> to <%= l.formatted_end_time %>)</small></small>  <span class='edit-line-lang1'><%= l.lang1 %></span></p>
                  <% end %>
                <% end %>
              </div>
              <div id="lang1-input">
                <div><i class='left'><%= @lang1 %>&nbsp;</i>
                  <small class='left'>(<small class='current-loop-time'></small>)</small></div>
                  <br>
                  <div class='control-group'>
                  <div class='controls'>
                    <input type='text' class='input-xlarge lang1-line'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="span3">
          <div class="lyrics-container">
            <div id="lang2-box">
              <div id="lang2-lyrics">
                <% @lines.each do |l| %>
                  <% if l.lang2.present? %> 
                    <p id="lang2-<%= l.time %>" class="editing-lyrics" data-line-id=<%= l.id %> data-time=<%= l.time %> data-duration=<%= l.duration %>><small><small class='edit-duration'>(<%= l.formatted_time %>)</small></small>  <span class='edit-line-lang1'><%= l.lang2 %></span></p>
                  <% end %>
                <% end %>
              </div>
              <div id="lang2-input">
                <div>
                  <i class='left'><%= @lang2 %>&nbsp;</i>
                  <small class='left'>(<small id='current-loop-time' class='current-loop-time'></small>)</small></div>
                  <br>
                  <div class='controls'>
                    <input type='text' class='input-xlarge lang2-line'>
                </div>
              </div>
            </div>
          </div>
          <div class="lyrics-container">
            <div class="done-button" style="float: left;"></div>
            <div class="save-button" style="float: left; margin-left: 20px;"></div>
          </div>
        </div>

      <% else %>
      
      <div class="span3">
        <div class="lyrics-container">
          <div id="lang2-box">
            <div id="lang2-lyrics"></div>
            <div id="lang2-input"></div>
          </div>
        </div>
        <div class="lyrics-container">
          <div class="done-button" style="float: left;"></div>
          <div class="save-button" style="float: left; margin-left: 20px;"></div>
        </div>
      </div>
      <% end %>

    </div>

  </div>

</div>

<div id="data" class="quiet" data-youtube-id=<%= @video.youtube_id %> data-interp-id=<%= @interp.id %> data-lang-one=<%= @video.lang1 %> data-lang-two=<%= @interp.lang2 %> data-translation-type=<%= if @lang1_and_lang2 then 'lang1_and_lang2' else 'just_lang2' end %> data-action-name=<%= action_name %>></div>
