<br>

<div class="row">

  <div class="span5">

    <div id="outer-video-box" class="video-container">
      <div id="title-box"><h3><%= @video.title %></h3></div>
      <div id="new-video-box"></div>
      <div id="timer-box"></div>
      <div id="settings"></div>
      <div id='notes-box'>
        <% if action_name == 'show' %>
          <p id='translator-name'><i>Translation by <%= link_to "#{@translator.username}", user_url(@translator) %> from <%= @lang1 %> into <%= @lang2 %>.</i></p>
        <% end %>
        <% if action_name == 'show' %>
          <br>
          <div class='show-button-suite'>
            <% if current_user && @translator.id == current_user.id %>
              <div class='btn btn-info btn-small btn-tiny rounded' id='edit'> Edit </div>
            <% end %>
            <% if @comments.present? %>
              <div class='btn btn-info btn-small btn-tiny rounded' id='comments-toggle'> Show comments </div>
            <% end %>
            <div class='btn btn-info btn-small btn-tiny rounded' id='controls-toggle'> Hide controls </div>
            <% unless controller_name == 'clips' %>
              <div class='btn btn-info btn-small btn-tiny rounded' id='email'> 
                <i class="icon-envelope icon"></i> 
              </div>
              <div class='btn btn-info btn-small btn-tiny rounded' id='tweet-it'> 
                <i class="icon-twitter icon"></i> 
              </div>
            <% end %>
          </div>
        <% end %>
        <% if action_name == 'edit' || action_name == 'new' %>
          <div class='edit-button-suite'>
            <div class="btn-group">
              <div class="btn btn-info btn-small rounded dropdown-toggle" data-toggle="dropdown"> Teaching tools </div>
              <ul class="dropdown-menu">
                <li><a href="#" id='word-marking-mode' class='dropdown-option'> Mark key words </a></li>
                <% if @note.blank? %>
                  <li><a href="#" id='add-note' class='dropdown-option'> Add explanation </a></li>
                <% else %>
                  <li><a href="#" id='edit-note' class='dropdown-option'> Edit note </a></li>
                <% end %>
              </ul>
            </div>
            <div class="btn-group">
              <div class="btn btn-info btn-small rounded dropdown-toggle" data-toggle="dropdown"> Export / print </div>
              <ul class="dropdown-menu">
                <li><a href="#" id='print-pdf' class='dropdown-option'> Export pdf </a></li>
                <li><a href="#" id='print-txt' class='dropdown-option'> Export .txt </a></li>
                <li><a href="#" id='print-google' class='dropdown-option'> Export to google doc </a></li>
              </ul>
            </div>
            <div class="btn-group">
              <div class="btn btn-info btn-small rounded dropdown-toggle" data-toggle="dropdown"> Help! </div>
              <ul class="dropdown-menu">
                <li><a href="#" id='instructions-button' class='dropdown-option'> editing tips </a></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      </div>
    </div>

  <% if action_name == 'new' %>
    <div class="span5 offset2">
      <div id="controls"></div>
    </div>
  <% end %>

  <div class="span5 offset2">

  <% if @clip.blank? # SECTION BELOW IS FOR SHOW, EDIT, AND NEW INTERP MODES %>

    <div id="right-side-box">
      <% if action_name == 'edit' || action_name == 'new' || action_name == 'show' # TABS COME IN HERE %>
        <% if @vocabulary_words.present? %> <div id="vocabulary" class="tab"> Vocabulary </div> <% end %>
        <% if @note.present? %> <div id="grammar"  class="tab"> Grammar </div> <% end %>
        <% if @culture_note.present? %><div id="culture" class="tab"> Culture </div> <% end %>
        <div id="transcription" class="tab"> Transcription </div>
        <div id="translation" class="tab active"> Translation </div>
        <% if @comments.present? %> <div id="discussion" class="tab end"> Discussion </div> <% end %>
      <% end %>

      <div id="lyrics-box">

      <% if @note.present? # GRAMMAR NOTE %>
        <p id='note' class='quiet'>
          <% if action_name == 'edit' %>
            <strong>Your note: &nbsp;</strong>
          <% end %>
          <% if action_name == 'show' %>
            <strong>Note: &nbsp;</strong>
          <% end %>
          <span id='note-text'><%= @note %></span>
        </p>
      <% end %>

        <% @lines.each do |l| %>
          <div class="line rounded" data-time=<%= l.time %> data-duration=<%= l.duration %> id=<%= l.id %>>
            <% if l.lang1.present? %>
              <div class="lyrics-container">
                <p><%= l.lang1 %></p>
              </div>
            <% end %>
            <% if l.lang2.present? %> 
              <% if @lang1_and_lang2 == true %>
                <div class="lyrics-container">
              <% else %>
                <div class="wide-lyrics-container">
              <% end %>
                <p><%= l.lang2 %></p>
              </div>
            <% end %>
            <% if @comments.present? %>
              <% @comments.each do |comments| %>
                <% if comments[l.id].present? %>
                  <% comments[l.id].each do |c| %>
                  <br>
                    <div class="comment" data-comment-id=<%= c.id %>>
                      <span class="comment-text"><%= User.find_by_id(c.user_id).username %>: <%= c.comment_text %>
                        <% if current_user %>
                          <% if c.user_id == current_user.id %>
                            &nbsp; &nbsp; <a class='delete-comment'>[ X ] </a>
                          <% end %>
                        <% end %>
                      </span>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% if action_name == 'edit' || action_name == 'new' # TIMING GAUGE COMES IN HERE%>
          <div id='timing-ruler'></div>
        <% end %>
      </div>
    <% else # THIS SECTION BELOW IS FOR VIDEO CLIP MODE %>
      <div class="lyrics-container wide" id="lyrics-box">
        <% @lines_within_clip.each do |l| %>
          <div class="line rounded" data-time=<%= l.time %> data-duration=<%= l.duration %> <%= l.id %>>
            <% if l.lang1.present? %>
              <div class="lyrics-container">
                <p><%= l.lang1 %></p>
              </div>
            <% end %>
            <% if l.lang2.present? %> 
              <div class="lyrics-container">
                <p><%= l.lang2 %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <% unless current_user %>
        <div class="share-clip-container">
          <p class="center"><i>Click <a href="/interpretations/<%= @interp.id %>">here</a> for the full translation.</i></p>
        </div>
      <% else %>
        <div class="share-clip-container">
          <h3 style="text-align: center;">Share this clip?</h3>
          <div class="btn btn-primary btn-share rounded" id="tweet-it" style="text-align: center;"> <i class="icon-twitter icon-2x"></i> </div>
          <div class="btn btn-primary btn-share rounded" id="email" style="text-align: center;"> <i class="icon-envelope icon-2x"></i> </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if action_name == "edit" || action_name == "new" %>

    <div class="input-line-container">
      <div class="input-line">
        <div id="lang1-input">
          <span><span class='lang-name'><i><%= @lang1 %></i></span><input type="text" class="current-loop-start loop-length-input loop-input-box"> to <input type="text" class="current-loop-end loop-length-input loop-input-box"></span>
          <div class='control-group'>
            <div class='controls'>
              <input type='text' class='input-xlarge lang1-line'>
            </div>
          </div>
        </div>
      </div>
      <div class="input-line">
        <div id="lang2-input">
          <span><span class='lang-name'><i><%= @lang2 %></i></span><input type="text" class="current-loop-start loop-length-input loop-input-box"> to <input type="text" class="current-loop-end loop-length-input loop-input-box"></span>
          <div class='control-group'>
            <div class='controls'>
              <input type='text' class='input-xlarge lang2-line'>
            </div>
          </div>
        </div>
      </div>
    <div style="float: right; margin-top: 18px; margin-right: 10px;">
      <span class="btn btn-primary btn-small rounded tight-pack uniform-width" id="next-line"> Next line </span>
      <br>
      <span class="btn btn-primary btn-small rounded tight-pack uniform-width" id="all-done"> All done </span>
    </div>
  </div>

  <% end %>

</div>

<div id="data" class="quiet" 
  data-youtube-id=<%= @video.youtube_id %> 
  data-interp-id=<%= @interp.id %> 
  data-lang-one=<%= @video.lang1 %> 
  data-lang-two=<%= @interp.lang2 %> 
  data-translation-type=<%= if @lang1_and_lang2 then 'lang1_and_lang2' else 'just_lang2' end %> 
  data-action-name=<%= action_name %> 
  <% if @translator.present? %> 
    data-translator-name=<%= @translator.username %>
  <% end %>
  <% unless @quiz.present? %>
    <% if current_user %>
        data-current-user-username=<%= current_user.username %>
        <% if current_user.firstname.present? %>
          data-current-user-firstname=<%= current_user.firstname %>
        <% end %>
        data-current-user-id=<%= current_user.id %>
      <% unless current_user.id == @translator.id %>
        data-my-video='false'
      <% else %>
        data-my-video='true'
      <% end %>
    <% end %>
    <% else %>
    data-quiz-type="<%= @quiz.quiz_type %>"
    data-quiz-name="<%= @quiz.name %>"
    data-quiz-description="<%= @quiz.description %>"
    data-video-title="<%= @title %>"
  <% end %>
  <% if @clip.present? %>
  data-clip=<%= 'true' %>
  data-duration=<%= @duration %>
  data-start=<%= @start %>
  <% end %>
  data-published=<%= @published %>>
</div>