<br>

<div class="row">

  <div class="span5">

    <div id="outer-video-box" class="video-container">
      <div id="title-box"><h3><%= @video.title %></h3></div>
      <div id="new-video-box"></div>
      <div id="timer-box"></div>
      <div id="settings"></div>
    </div>

  </div> 

  <% if action_name == 'new' %>
    <div class="span5 offset2">
      <div id="controls"></div>
    </div>
  <% end %>

  <% if @lang1_and_lang2 %>

    <div class="span5 offset2">

      <div class="lyrics-container wide" id="lyrics-box">
        <% @lines.each do |l| %>
          <div class="line rounded" data-time=<%= l.time %> data-duration=<%= l.duration %>>
            <% if l.lang1.present? %>
              <div class="lyrics-container">
                <p><%= l.lang1 %></p>
              </div>
            <% end %>
            <% if l.lang2.present? %> 
              <div class="lyrics-container">
                <p><%= l.lang2 %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    <% if action_name == "edit" || action_name == "new" %>

      <div class="lyrics-container wide">
        <div class="lyrics-container">
          <div id="lang1-input">
            <i class='left'><%= @lang1 %>&nbsp;</i>
            <span class='loop-handle-label example current-loop-start'></span> to <span class='loop-handle-label example current-loop-end'></span> 
            <div class='control-group'>
              <div class='controls'>
                <input type='text' class='input-xlarge lang1-line'>
              </div>
            </div>
          </div>
        </div>
        <div class="lyrics-container">
          <div id="lang2-input">
            <i class='left'><%= @lang2 %>&nbsp;</i>
            <span class='loop-handle-label example current-loop-start'></span> to <span class='loop-handle-label example current-loop-end'></span> 
            <div class='control-group'>
              <div class='controls'>
                <input type='text' class='input-xlarge lang2-line'>
              </div>
            </div>
          </div>
        </div>
      <div style="float: right; margin-top: 25px;">
        <div class="btn btn-primary btn-small rounded tight-pack" id="next-line"> Next line! </div>
        <br>
        <div class="btn btn-primary btn-small rounded tight-pack" id="all-done"> All done. </div>
      </div>
    </div>

    <% end %>
  
  <% else %>
  
    <div class="span5 offset2">

      <div class="lyrics-container wide" id="lyrics-box">
        <% @lines.each do |l| %>
          <div class="line rounded" data-time=<%= l.time %> data-duration=<%= l.duration %>>
            <% if l.lang1.present? %>
              <div class="lyrics-container">
                <p><%= l.lang1 %></p>
              </div>
            <% end %>
            <% if l.lang2.present? %> 
              <div class="lyrics-container">
                <p><%= l.lang2 %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    <% if action_name == "edit" || action_name == "new" %>

      <div class="lyrics-container wide">
        <div class="lyrics-container">
          <div id="lang1-input">
            <i class='left'><%= @lang1 %>&nbsp;</i>
            <span class='loop-handle-label example current-loop-start'></span> to <span class='loop-handle-label example current-loop-end'></span> 
            <div class='control-group'>
              <div class='controls'>
                <input type='text' class='input-xlarge lang1-line'>
              </div>
            </div>
          </div>
        </div>
        <div class="lyrics-container">
          <div id="lang2-input">
            <i class='left'><%= @lang2 %>&nbsp;</i>
            <span class='loop-handle-label example current-loop-start'></span> to <span class='loop-handle-label example current-loop-end'></span> 
            <div class='control-group'>
              <div class='controls'>
                <input type='text' class='input-xlarge lang2-line'>
              </div>
            </div>
          </div>
        </div>
      <div class="btn btn-primary btn-small rounded" style="float: right; margin-top: 32px;" id="next-line"> Next line! </div>
    </div>

  <% end %>

<% end %>

</div>

<div id="data" class="quiet" 
  data-youtube-id=<%= @video.youtube_id %> 
  data-interp-id=<%= @interp.id %> 
  data-lang-one=<%= @video.lang1 %> 
  data-lang-two=<%= @interp.lang2 %> 
  data-translation-type=<%= if @lang1_and_lang2 then 'lang1_and_lang2' else 'just_lang2' end %> 
  data-action-name=<%= action_name %> 
  <% if @translator.present? %> 
    data-translator-name=<%= @translator.name %>
  <% end %>
  <% if @quiz.present? %>
    data-quiz-type="<%= @quiz.quiz_type %>"
    data-quiz-name="<%= @quiz.name %>"
    data-quiz-description="<%= @quiz.description %>"
    data-video-title="<%= @title %>"
  <% end %>
  <% if current_user %>
    <% unless current_user.id == @translator.id %>
      data-my-video='false'
    <% else %>
      data-my-video='true'
    <% end %>
  <% end %>
  data-published=<%= @published %>>
</div>

<% if @quiz.present? %>
  <%= javascript_tag do %>
    window.words = <%=raw @words.to_json %>;
  <% end %>
<% end %>