<!DOCTYPE html>
<html>
<head>
  <title> Heyu </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min.css" %>
  <% unless controller_name == "interpretations" && action_name == "show" %>
    <%= javascript_include_tag "coffee/#{controller_name}_#{action_name}" %>
  <% else %>
    <%= javascript_include_tag "coffee/videos_show" %>
  <% end %>
  <%= csrf_meta_tags %>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <% if action_name == 'show' && controller_name == 'clips' %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@heyuvideo">
    <meta name="twitter:title" content="<%= @video.title.slice(0,30) %>, translated by <%= @translator.username %>"}>
    <meta name="twitter:description" content="<%= @first_line.lang1 %> / <%= @first_line.lang2 %> ">
  <% end %>
  <meta name="google-site-verification" content="PEMw0yW-aZ358pRf6qL3vjlYm7ox6FQRSQOqeTUJPwI" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36010863-2', 'heyuvideo.com');
    ga('send', 'pageview');

  </script>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner" style="background-color: #9B59BB;">
    <div class="container" style="width: auto;">
      <a class="brand" href="/welcome"> Heyu </a>
      <ul class="nav pull-left">
        <li> <%= link_to "Home", "/welcome" %> </li>
        <li> <%= link_to "Philosophy", "/philosophy" %> </li>
        <li style="height: 50px;"> 
          <a href="https://www.twitter.com/heyuvideo" style="height: 20px;"> 
            <i class='icon icon-twitter icon-2x' style="position: relative; bottom: 4px;"></i> 
          </a>
        </li>
      </ul>
      <% if current_user %>
        <ul class="nav pull-right signed-in-user" id="<%= current_user.id %>">
          <li><%= link_to "My profile", user_url(current_user) %></li>
          <li><a href="/survey">Survey</a></li>
          <li><%= link_to "Sign out", "/sign_out" %></li>
        </ul>
      <% else %>
        <ul class="nav pull-right">
          <li><%= link_to "Sign in", '/sign_in' %></li>
          <li><%= link_to "Join Heyu", '/join' %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<% unless flash.empty? %> 
  <div class="row">
    <div class="span11 offset1">
      <div class="alert alert-success" style="background-color: yellow; color: black;">
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>

<% if controller_name == 'pages' %>
  <br><br>
    <div class="row">
      <p style="text-align: center;">
        <a href="/contact">Contact Us</a> | 
        <a href="/terms">Terms of Use</a> | 
        <a href="/dmca">DMCA Notice</a> 
      </p>
    </div>
<% end %>

<%= content_tag "div", id: "user-id", data: { user: if current_user then current_user.id else 'logged-out' end } do %>

<% end %>

</body>

<%= javascript_tag do %>
  <% if @keywords != nil %>
    <% if @keywords.present? %>
      window.keywords = <%= raw @keywords.to_json %>;
    <% else %>
      window.keywords = false;
    <% end %>
  <% end %>
<% end %>

</html>
