<!DOCTYPE html>
<html>
<head>
  <title>( Heyu )</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min.css" %>
  <% if controller_name != "interpretations" %>
    <%= javascript_include_tag "coffee/#{controller_name}_#{action_name}" %>
  <% else %>
    <%= javascript_include_tag "coffee/videos_#{action_name}" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner" style="background-color: #9B59BB;">
    <div class="container" style="width: auto;">
      <a class="brand" href="/welcome">Heyu</i></a>
      <ul class="nav" id="main-menu-left">
        <li><a href>Philosophy</a></li>
        <% if controller_name == 'videos' && action_name == 'index' %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Show videos in...</a>
            <ul class="dropdown-menu">
              <%= render :partial => 'videos/language_dropdown_options', :locals => {:type => 'language-index-option'} %>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Show requests for...</a>
              <ul class="dropdown-menu">
              <%= render :partial => 'videos/language_dropdown_options', :locals => {:type => 'language-request-option'} %>
              </ul>
          </li>
        <% end %>
      </ul>
      <% if current_user %>
        <ul class="nav pull-right signed-in-user" id="<%= current_user.id %>">
          <li><%= link_to "Signed in as #{current_user.name}", user_url(current_user) %></li>
          <li><%= link_to "Sign out", "/sign_out" %></li>
        </ul>
      <% else %>
        <ul class="nav pull-right">
          <li><%= link_to "Sign in", '/sign_in' %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<% unless flash.empty? %> 
  <div class="row">
    <div class="span11 offset1">
      <div class="alert alert-success" style="background-color: yellow; color: black;">
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>
<!-- <div id="footer">
  <div class="container">
    <ul class="nav nav-pills">
      <li><a class="page-language-option" id="english-page">English</a></li>
      <li><a class="page-language-option" id="spanish-page">Español</a></li>
      <li><a class="page-language-option" id="french-page">Français</a></li>
      <li><a class="page-language-option" id="portuguese-page">Português</a></li>
      <li><a class="page-language-option" id="korean-page">한국말</a></li>
      <li><a class="page-language-option" id="japanese-page">日本語</a></li>
      <li><a class="page-language-option" id="chinese-page">汉语</a></li>
      <li><a class="page-language-option" id="persian-page">فارسی</a></li>
      <li><a class="page-language-option" id="arabic-page">العربية</a></li>
      <li><a class="page-language-option" id="hebrew-page">עברית</a></li>
      <li><a class="page-language-option" id="hindi-page">हिंदी</a></li>
    </ul>
  </div>
</footer> -->

<%= content_tag "div", id: "user-id", data: { user: if current_user then current_user.id else 'logged-out' end } do %>
<% end %>

</body>
</html>
