<!DOCTYPE html>
<html>
<head>
  <title>Boombox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min.css" %>
  <%= javascript_include_tag "js/video_#{action_name}" %>
  <%= csrf_meta_tags %>
</head>
  <script>
</script>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="brand" href="/welcome">Boombox</a>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
